In [126]:
import pandas as pd

In [127]:
myDF = pd.read_csv("test.csv")   #01

In [128]:
myDF.head()                     #02

   10    192    50  F  NXEYEM
0  20  299.0  21.0  M  VNFKZD
1  30  378.0  28.0  X  IMGMFY
2  40  156.0  44.0  Q  RHRHJY
3  50  468.0  33.0  J  HPQCMC
4  60  347.0  38.0  X  XFEWVB

In [129]:
myDF = pd.read_csv("test.csv",names = ["ID", "Range", "Value", "Machine Type", "Zip code"]) #03
myDF.head()

   ID  Range  Value Machine Type Zip code
0  10  192.0   50.0            F   NXEYEM
1  20  299.0   21.0            M   VNFKZD
2  30  378.0   28.0            X   IMGMFY
3  40  156.0   44.0            Q   RHRHJY
4  50  468.0   33.0            J   HPQCMC

In [130]:
myDF = pd.concat([top_row,myDF]).reset_index(drop = True)
#myDF.loc[0] = ["Name: Mohsen Yahya","student number: 101241827","","",""]       #04
myDF.head()

                   ID                      Range Value Machine Type Zip code
0  Name: Mohsen Yahya  student number: 101241827
1                  10                        192    50            F   NXEYEM
2                  20                        299    21            M   VNFKZD
3                  30                        378    28            X   IMGMFY
4                  40                        156    44            Q   RHRHJY

In [131]:
myDF = myDF.iloc[1:,:]
myDF                                            #05

       ID Range Value Machine Type Zip code
1      10   192    50            F   NXEYEM
2      20   299    21            M   VNFKZD
3      30   378    28            X   IMGMFY
4      40   156    44            Q   RHRHJY
5      50   468    33            J   HPQCMC
..    ...   ...   ...          ...      ...
947  9460   136    12            C   HGVBPV
948  9470   316    46            L   SHBAUD
949  9480   461    46            K   PUZUVO
950  9490   185    13            N   UMESZO
951  9500   137    10            W   JOHHVL

[951 rows x 5 columns]

In [132]:
type(myDF)                  #06

pandas.core.frame.DataFrame

below methode 1 gives series outout         
below methode 2 gives dataframe output                                                   **methode 2(dataframe) is most object-oriented**

In [133]:
df_series = myDF["Value"]        #methode 1
df_dataframe = myDF[["Value"]]   #methode 2              #07

Below  selected column type is **DataFrame**

In [134]:
type(myDF[["Value"]])   #selected column type is DataFrame             #08

pandas.core.frame.DataFrame

#09
yes we can use the both methodes to fetch the "Zip code" column

In [135]:
myDF[["Zip code"]]
myDF["Zip code"]    #yes we can use the both methodes to fetch the "Zip code" column  #09

1      NXEYEM
2      VNFKZD
3      IMGMFY
4      RHRHJY
5      HPQCMC
        ...
947    HGVBPV
948    SHBAUD
949    PUZUVO
950    UMESZO
951    JOHHVL
Name: Zip code, Length: 951, dtype: object

In [136]:
#Brand = pd.concat([myDF["Machine Type"],myDF["Zip code"]],axis = 1)
Brand = myDF["Machine Type"]+myDF["Zip code"]
 #= pd.Series(Brand_data)
#myDF["Brand"] = Brand
#Brand = pd.Series(Brand_data,index = ["Type","Zip code"])              #10
myDF["Brand"] = Brand
myDF

       ID Range Value Machine Type Zip code    Brand
1      10   192    50            F   NXEYEM  FNXEYEM
2      20   299    21            M   VNFKZD  MVNFKZD
3      30   378    28            X   IMGMFY  XIMGMFY
4      40   156    44            Q   RHRHJY  QRHRHJY
5      50   468    33            J   HPQCMC  JHPQCMC
..    ...   ...   ...          ...      ...      ...
947  9460   136    12            C   HGVBPV  CHGVBPV
948  9470   316    46            L   SHBAUD  LSHBAUD
949  9480   461    46            K   PUZUVO  KPUZUVO
950  9490   185    13            N   UMESZO  NUMESZO
951  9500   137    10            W   JOHHVL  WJOHHVL

[951 rows x 6 columns]

In [137]:
Total = myDF["Range"]*myDF["Value"]     #11
myDF["Total"] = Total
myDF

       ID Range Value Machine Type Zip code    Brand  Total
1      10   192    50            F   NXEYEM  FNXEYEM   9600
2      20   299    21            M   VNFKZD  MVNFKZD   6279
3      30   378    28            X   IMGMFY  XIMGMFY  10584
4      40   156    44            Q   RHRHJY  QRHRHJY   6864
5      50   468    33            J   HPQCMC  JHPQCMC  15444
..    ...   ...   ...          ...      ...      ...    ...
947  9460   136    12            C   HGVBPV  CHGVBPV   1632
948  9470   316    46            L   SHBAUD  LSHBAUD  14536
949  9480   461    46            K   PUZUVO  KPUZUVO  21206
950  9490   185    13            N   UMESZO  NUMESZO   2405
951  9500   137    10            W   JOHHVL  WJOHHVL   1370

[951 rows x 7 columns]

In [138]:
myDF.head()                           #12 a

   ID Range Value Machine Type Zip code    Brand  Total
1  10   192    50            F   NXEYEM  FNXEYEM   9600
2  20   299    21            M   VNFKZD  MVNFKZD   6279
3  30   378    28            X   IMGMFY  XIMGMFY  10584
4  40   156    44            Q   RHRHJY  QRHRHJY   6864
5  50   468    33            J   HPQCMC  JHPQCMC  15444

In [139]:
myDF.describe()                       #12b

          ID  Range  Value Machine Type Zip code    Brand   Total
count    951  950.0  950.0          948      941      939   950.0
unique   951  362.0   41.0           26      941      939   867.0
top     1540  177.0   17.0            F   FQUOJI  BIJZTWY  8400.0
freq       1    8.0   38.0           50        1        1     4.0

In [140]:
myDF.describe                          #12 c

<bound method NDFrame.describe of        ID Range Value Machine Type Zip code    Brand  Total
1      10   192    50            F   NXEYEM  FNXEYEM   9600
2      20   299    21            M   VNFKZD  MVNFKZD   6279
3      30   378    28            X   IMGMFY  XIMGMFY  10584
4      40   156    44            Q   RHRHJY  QRHRHJY   6864
5      50   468    33            J   HPQCMC  JHPQCMC  15444
..    ...   ...   ...          ...      ...      ...    ...
947  9460   136    12            C   HGVBPV  CHGVBPV   1632
948  9470   316    46            L   SHBAUD  LSHBAUD  14536
949  9480   461    46            K   PUZUVO  KPUZUVO  21206
950  9490   185    13            N   UMESZO  NUMESZO   2405
951  9500   137    10            W   JOHHVL  WJOHHVL   1370

[951 rows x 7 columns]>

In [141]:
myDF.shape                           #12 d

(951, 7)

In [142]:
myDF.dtypes                          #12 e

ID              object
Range           object
Value           object
Machine Type    object
Zip code        object
Brand           object
Total           object
dtype: object

**#12**                             
Without parentheses you're not actually calling the function. A function name without the parentheses is a reference to the function

**#12**                               df.describe just points or connects to the object and method( it acts like a preparation before execution), but does NOT execute it. Instead, describe() will call and run the function, and return the execution results

In [143]:
myDF.describe(include = "all")                                 #13

          ID  Range  Value Machine Type Zip code    Brand   Total
count    951  950.0  950.0          948      941      939   950.0
unique   951  362.0   41.0           26      941      939   867.0
top     1540  177.0   17.0            F   FQUOJI  BIJZTWY  8400.0
freq       1    8.0   38.0           50        1        1     4.0

In [144]:
myDF.rename(columns = {"ID":"My ID"})                                                #14

    My ID Range Value Machine Type Zip code    Brand  Total
1      10   192    50            F   NXEYEM  FNXEYEM   9600
2      20   299    21            M   VNFKZD  MVNFKZD   6279
3      30   378    28            X   IMGMFY  XIMGMFY  10584
4      40   156    44            Q   RHRHJY  QRHRHJY   6864
5      50   468    33            J   HPQCMC  JHPQCMC  15444
..    ...   ...   ...          ...      ...      ...    ...
947  9460   136    12            C   HGVBPV  CHGVBPV   1632
948  9470   316    46            L   SHBAUD  LSHBAUD  14536
949  9480   461    46            K   PUZUVO  KPUZUVO  21206
950  9490   185    13            N   UMESZO  NUMESZO   2405
951  9500   137    10            W   JOHHVL  WJOHHVL   1370

[951 rows x 7 columns]

In [145]:
myDF.rename(columns = {"ID":"My ID"},inplace = True)
myDF.head()                                                           #15

  My ID Range Value Machine Type Zip code    Brand  Total
1    10   192    50            F   NXEYEM  FNXEYEM   9600
2    20   299    21            M   VNFKZD  MVNFKZD   6279
3    30   378    28            X   IMGMFY  XIMGMFY  10584
4    40   156    44            Q   RHRHJY  QRHRHJY   6864
5    50   468    33            J   HPQCMC  JHPQCMC  15444

In [146]:
columns = myDF.columns
columns                                                #16

Index(['My ID', 'Range', 'Value', 'Machine Type', 'Zip code', 'Brand',
       'Total'],
      dtype='object')

In [147]:
 
new_columns = {"My ID":'id', 'Range':'range', 'Value':'value', 'Machine Type':'machine type', 'Zip code':'zip code', 'Brand':'brand', 'Total':'total'}
myDF.rename(columns = new_columns,inplace = True)
myDF.columns                                                         #17

Index(['id', 'range', 'value', 'machine type', 'zip code', 'brand', 'total'], dtype='object')

In [148]:
new = myDF.columns.to_list()
for col in new:
  ar = col.split(" ")
  if len(ar) == 2:
    new[new.index(col)] = col.split(" ")[0]+"_"+col.split(" ")[1]
myDF = pd.read_csv("test.csv", names = new[:-2])
myDF["brand"] = Brand
myDF["total"] = Total
myDF                                                                      #18

       id  range  value machine_type zip_code    brand  total
0      10  192.0   50.0            F   NXEYEM      NaN    NaN
1      20  299.0   21.0            M   VNFKZD  FNXEYEM   9600
2      30  378.0   28.0            X   IMGMFY  MVNFKZD   6279
3      40  156.0   44.0            Q   RHRHJY  XIMGMFY  10584
4      50  468.0   33.0            J   HPQCMC  QRHRHJY   6864
..    ...    ...    ...          ...      ...      ...    ...
946  9460  136.0   12.0            C   HGVBPV  QMMLMCH   4104
947  9470  316.0   46.0            L   SHBAUD  CHGVBPV   1632
948  9480  461.0   46.0            K   PUZUVO  LSHBAUD  14536
949  9490  185.0   13.0            N   UMESZO  KPUZUVO  21206
950  9500  137.0   10.0            W   JOHHVL  NUMESZO   2405

[951 rows x 7 columns]

In [149]:
myDF.drop([921],axis = 0,inplace = True)

In [150]:
myDF.drop(columns = ["brand","total"],inplace = True)
myDF                                                              #19

       id  range  value machine_type zip_code
0      10  192.0   50.0            F   NXEYEM
1      20  299.0   21.0            M   VNFKZD
2      30  378.0   28.0            X   IMGMFY
3      40  156.0   44.0            Q   RHRHJY
4      50  468.0   33.0            J   HPQCMC
..    ...    ...    ...          ...      ...
946  9460  136.0   12.0            C   HGVBPV
947  9470  316.0   46.0            L   SHBAUD
948  9480  461.0   46.0            K   PUZUVO
949  9490  185.0   13.0            N   UMESZO
950  9500  137.0   10.0            W   JOHHVL

[950 rows x 5 columns]

In [151]:
myDF.drop([3,5],axis = 0,inplace = True)
myDF.head(5)                                              #20

   id  range  value machine_type zip_code
0  10  192.0   50.0            F   NXEYEM
1  20  299.0   21.0            M   VNFKZD
2  30  378.0   28.0            X   IMGMFY
4  50  468.0   33.0            J   HPQCMC
6  70  327.0   24.0            F   NLVQPY

In [152]:
myDF[["value"]].sort_values(by = ["value"])   #21

     value
950   10.0
506   10.0
888   10.0
203   10.0
538   10.0
..     ...
310   50.0
306   50.0
670   50.0
559   50.0
0     50.0

[948 rows x 1 columns]

In [153]:
myDF.sort_values(by = ["value"])            #22

       id  range  value machine_type zip_code
950  9500  137.0   10.0            W   JOHHVL
506  5070  268.0   10.0            N   WHIZNL
888  8890  430.0   10.0            Q   VXHFZN
203  2040  148.0   10.0            T   NRLBSZ
538  5390  350.0   10.0            J   WEUVDY
..    ...    ...    ...          ...      ...
310  3110  203.0   50.0            G   ZQJXWY
306  3070  315.0   50.0            D   VFJBWF
670  6710  191.0   50.0            A   QSURZT
559  5600  395.0   50.0            T   CVSBMG
0      10  192.0   50.0            F   NXEYEM

[948 rows x 5 columns]

In [154]:
myDF.sort_values(by = ["value"],inplace = True) #23
myDF

       id  range  value machine_type zip_code
950  9500  137.0   10.0            W   JOHHVL
506  5070  268.0   10.0            N   WHIZNL
888  8890  430.0   10.0            Q   VXHFZN
203  2040  148.0   10.0            T   NRLBSZ
538  5390  350.0   10.0            J   WEUVDY
..    ...    ...    ...          ...      ...
310  3110  203.0   50.0            G   ZQJXWY
306  3070  315.0   50.0            D   VFJBWF
670  6710  191.0   50.0            A   QSURZT
559  5600  395.0   50.0            T   CVSBMG
0      10  192.0   50.0            F   NXEYEM

[948 rows x 5 columns]

In [155]:
myDF.sort_values(by = ["range"])           #24

       id  range  value machine_type zip_code
504  5050  100.0   21.0            S   KLYYQV
798  7990  101.0   20.0            E   QXAZJW
462  4630  101.0   26.0            P   PBJHPM
556  5570  102.0   15.0            M   SSGQYR
378  3790  103.0   24.0            T   DUBOXY
..    ...    ...    ...          ...      ...
163  1640  499.0   13.0            M   JQQXBS
178  1790  499.0   25.0            F   KOJGHA
411  4120  500.0   27.0            Q   NRNLPN
731  7320  500.0   20.0            Z   JUKAMV
423  4240  500.0   17.0            Q   IYUYPO

[948 rows x 5 columns]

In [156]:
myDF.sort_values(by = ["value"],ascending = False)  #24

       id  range  value machine_type zip_code
0      10  192.0   50.0            F   NXEYEM
795  7960  448.0   50.0            B   GIYNZN
701  7020  246.0   50.0            Q   TELSOE
714  7150  429.0   50.0            C   XKQKKE
11    120  438.0   50.0            W   CDEXEM
..    ...    ...    ...          ...      ...
936  9360  194.0   10.0            Q   QVMEWD
943  9430  135.0   10.0            C   SSGNKF
303  3040  164.0   10.0            C   UCJKRW
275  2760  247.0   10.0            H   PUTZZV
950  9500  137.0   10.0            W   JOHHVL

[948 rows x 5 columns]

In [157]:
myDF[myDF["range"].between(250,350)]                #25

       id  range  value machine_type zip_code
506  5070  268.0   10.0            N   WHIZNL
538  5390  350.0   10.0            J   WEUVDY
686  6870  333.0   10.0            G   BVONNE
611  6120  333.0   11.0            H   YHTGCK
808  8090  267.0   11.0            C   XTCQMQ
..    ...    ...    ...          ...      ...
260  2610  287.0   50.0            H   YFDAVD
542  5430  277.0   50.0            K   ATBSJF
145  1460  302.0   50.0            S   DQIHRM
255  2560  322.0   50.0            P   ZZFRMM
306  3070  315.0   50.0            D   VFJBWF

[204 rows x 5 columns]

In [158]:
myDF[myDF["range"].between(250,350)].sort_values(by = ["range"]) #26

       id  range  value machine_type zip_code
57    580  250.0   19.0            K   EFXWGS
262  2630  250.0   12.0            O   ZZIXOA
307  3080  251.0   26.0            Z   YCKPXV
811  8120  251.0   49.0            D   QOWNHD
276  2770  252.0   38.0            J   SKKOYK
..    ...    ...    ...          ...      ...
382  3830  350.0   14.0            M   FOIOWR
833  8340  350.0   46.0            K   NCUWLM
538  5390  350.0   10.0            J   WEUVDY
645  6460  350.0   30.0            Q   LVDEAS
738  7390  350.0   24.0            X      NaN

[204 rows x 5 columns]

In [159]:
myDF[myDF["range"].between(250,350)][["id","value"]]     #27

       id  value
506  5070   10.0
538  5390   10.0
686  6870   10.0
611  6120   11.0
808  8090   11.0
..    ...    ...
260  2610   50.0
542  5430   50.0
145  1460   50.0
255  2560   50.0
306  3070   50.0

[204 rows x 2 columns]

In [160]:
myDF[ (myDF["machine_type"] == "H") & (myDF["range"].between(250,350)) ][["id","value","machine_type"]] #28

       id  value machine_type
611  6120   11.0            H
438  4390   11.0            H
302  3030   14.0            H
493  4940   16.0            H
525  5260   32.0            H
445  4460   32.0            H
620  6210   47.0            H
260  2610   50.0            H

In [161]:
myDF[(myDF["machine_type"]=="H") | (myDF["machine_type"]=="R") | (myDF["machine_type"]=="X")] #29

       id  range  value machine_type zip_code
275  2760  247.0   10.0            H   PUTZZV
497  4980  205.0   11.0            X   TKABSA
611  6120  333.0   11.0            H   YHTGCK
438  4390  262.0   11.0            H   JLHUNV
219  2200  375.0   13.0            R   ROTHUN
..    ...    ...    ...          ...      ...
871  8720  104.0   49.0            H   AGKGDY
346  3470  180.0   49.0            R   QFLPSO
260  2610  287.0   50.0            H   YFDAVD
51    520  204.0   50.0            H   JGEDHI
125  1260  400.0   50.0            X   AHOATF

[101 rows x 5 columns]

In [162]:
myDF.select_dtypes("number").columns                 #30

Index(['range', 'value'], dtype='object')